.center {
    text-align: center;
}
body{
    background-color: #ebf0e9;
    padding-bottom: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
}

.week-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}



        .list {
             position: relative;
             width: 350px;
             height: 250px;
             
             background: white;
             overflow-y: auto;
             overflow-x: hidden;


             box-shadow: 8px 8px rgba(0,0,0,.15);
             transition: all .4s ease;
             border: 1px solid #ccc;
        }
        .list:hover {

            box-shadow: 5px 5px rgba(0,0,0,.25);
}

        .list li {
            padding-top: 10px;
            /* border-bottom: 2px solid #ddd; */
        }

        .list li:last-child {
            border-bottom: none;
        }

        .header {
            font-weight: bold;
            font-size: 1.2em;

            text-align: center;
        }

        #reorder-img {
            transition: transform 0.3s ease;
            float: right;
        }

        #reorder-img:hover {
            transform: scale(1.15);
        }

        .day-header{
             border: 1px solid #ccc;
             border-radius: 3px 10px 0px 0px;
             width: 150px;
             padding-left: 7px;
             box-shadow: 4px 0px rgba(0,0,0,.25);
             font-size: 20px;
        }

        nav ul li{
            background-color: #ebf0e9;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            letter-spacing: 2px;
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
            cursor: pointer;
            border: 3px solid;
            padding: 0.25em 0.5em;

            position: relative;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }

        nav ul li:active{
            box-shadow: 0px 0px 0px 0px;
            top: 5px;
            left: 5px;
        }

        nav{
            position: fixed;
            bottom: 4px;
            width: 90%;
            align-items: center;
            background-color: #ebf0e9;

        }

        #del{
            margin: 0;
            padding: 0;
        }

        form.hidden {
            padding: 0;
            margin: 0;
        }

.divider {
    width: 349px;
    margin: 0px -41px;
    border: none;
    border-top: 2px solid #ddd;
}

.editor {
    height: 15px !important;
    margin-bottom: 0px !important;
}