<html lang="en">
<head>
    <title>TODO App</title>
    <link rel="stylesheet" href="/css/pico.lime.css">
    <link rel="stylesheet" href="/css/site.css">
    <script src="/js/site.js"></script>
    <script src="/js/Sortable.js"></script>
    <script src="/js/htmx.js"></script>

</head>
<body>
<header class="container center">
    <form type="hidden">
        <input style = "float: right; width: 300px" class="form-control" type="search"
            name="search" placeholder="Begin Typing"
            hx-get="/todos/search"
            hx-trigger="input changed delay:500ms, search"
            hx-target="main"
            >
    </form>

    <h1 style="font-size: 2em; float:left; margin-top: 4px"><img style="height: 60px" src="/img/todo.svg">   TODOApp</h1>
</header>
<main class="container" style="clear:both">
    {% block content %}{% endblock %}

</main>
</body>
</html>