
    <div class = "week-container">
    {% for day in week %}
    <div>
    <!-- TODO add a "button"/anchor tag, a plus?, to add a todo to a certain day -->
    <a hx-get="/todos/reorder/{{ day }}"
       hx-target="#todos-list-{{ day }}"
       hx-swap="outerHTML">
       <img src="/img/reorder-svgrepo-com.svg" width ="20" id="reorder-img">
    </a>
    <a hx-post="/todos/add/{{ day }}"
       hx-target="body"
       hx-swap="innerHTML">
       <img src="/img/plus-large-thick-svgrepo-com.svg" width="20" id="add-img">
    </a>
    
    
    <header class="day-header">{{ day }}</header>
    <ol id="todos-list-{{ day }}" class="list">
        {% for todo in todos %}
        {% if todo.day == day %}
            <li id="main-li">
                {% if todo.id == editing %}
                <form method="post" action="/todos/{{ todo.id }}">
                    <input autofocus required type="text" value="{{ todo.text }}" name="todo"  class="editor">
                    <input type="hidden" name="view" value="{{ view }}">
                </form>
                {% else %}

                <!-- {% if todo.day == day %} -->
                <form style="margin-bottom: 3px"
                      hx-post="/todos/{{ todo.id }}/toggle"
                      hx-target="main"
                    ondblclick="document.getElementById('edit-{{ todo.id }}').submit()">
                    <button style="all:unset">
                        {%if todo.completed %}
                            <img src="/img/todo.svg" width="20px">
                        {% else %}
                            <img src="/img/unchecked.svg" width="20px">
                        {% endif %}
                    </button>
                    <input type="hidden" name="view" value="{{ view }}">
                    {% if todo.completed %}
                        <del>
                    {% endif %}
                    {{ todo.text }}
                    {% if todo.completed %}
                        </del>
                    {% endif %}
                </form>




                <form id="edit-{{ todo.id }}" action="/todos/{{ todo.id }}/edit" method="get">
                    <input type="hidden" name="view" value="{{ view }}">
                </form>
                <a id="del-item"
                   hx-post="/todos/{{ todo.id }}/delete"
                   hx-target="main"
                   hx-swap="innerHTML focus-scroll:true">
                    <img src="/img/delete-1-svgrepo-com.svg" width ="20" id="del-img">
                </a>
                <!-- {% endif %} -->
                {% endif %}
            </li>
            <hr class="divider">
            {% endif %}
        {% endfor %}
    </ol>
    
    </div>
    {% endfor %}
    
    <nav>
        <ul>
            <li>
                <a class="{{ 'contrast' if view == None }}" href="/todos">All</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="{{ 'contrast' if view == 'active' }}" href="/todos?view=active">Active</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class= "{{ 'contrast' if view == 'complete' }}" href="/todos?view=complete">Complete</a>
            </li>
        </ul>
        <ul>
            <li>
                <a hx-post="/todos/delete"
                   hx-target="main"
                   hx-swap="innerHTML"
                   >Clear complete</a>
            </li>
        </ul>

    </nav>

</div>