<form action="/todos" method="post">
        <label>
            New Todo
            <div style="display: flex; align-items: center;">
            <input id="todo-text" {{ 'autofocus' if editing is undefined and searching is undefined}} required type="text" name="todo" placeholder="Enter a new TODO">

            <select name="day"  required style="width: 20%;" onchange="document.getElementById('todo-text').focus() ">
            <option value="" disabled selected>Select Day</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
            </select>
            </div>
        </label>
        <input type="hidden" name="view" value="{{ view }}">
    </form>
    <div class = "week-container">
    {% for day in week %}
    <div>
    <a hx-get="/todos/reorder/{{ day }}"
        hx-target="#todos-list-{{ day }}"
        hx-swap="outerHTML">Reorder Todos</a>
    
    
    <header class="header">{{ day }}</header>
    <ol id="todos-list-{{ day }}" class="list">
        {% for todo in todos %}
        {% if todo.day == day %}
            <li>
                {% if todo.id == editing %}
                <form method="post" action="/todos/{{ todo.id }}">
                    <input autofocus required type="text" value="{{ todo.text }}" name="todo">
                    <input type="hidden" name="view" value="{{ view }}">
                </form>
                {% else %}

                <!-- {% if todo.day == day %} -->
                <form hx-post="/todos/{{ todo.id }}/toggle"
                      hx-target="main"
                    ondblclick="document.getElementById('edit-{{ todo.id }}').submit()">
                    <button style="all:unset">
                        {%if todo.completed %}
                            <img src="/img/todo.svg" width="20px">
                        {% else %}
                            <img src="/img/unchecked.svg" width="20px">
                        {% endif %}
                    </button>
                    <input type="hidden" name="view" value="{{ view }}">
                    {% if todo.completed %}
                        <del>
                    {% endif %}
                    {{ todo.text }}
                    {% if todo.completed %}
                        </del>
                    {% endif %}
                </form>




                <form id="edit-{{ todo.id }}" action="/todos/{{ todo.id }}/edit" method="get">
                    <input type="hidden" name="view" value="{{ view }}">
                </form>
                <!-- {% endif %} -->
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ol>
    
    </div>
    {% endfor %}
    </div>
    <nav>
        <ul>
            <li>
                <a class="{{ 'contrast' if view == None }}" href="/todos">All</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="{{ 'contrast' if view == 'active' }}" href="/todos?view=active">Active</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class= "{{ 'contrast' if view == 'complete' }}" href="/todos?view=complete">Complete</a>
            </li>
        </ul>
        <ul>
            <li>
                <a hx-post="/todos/delete">
                DELETE</a>
            </li>
        </ul>

    </nav>