
    <form hx-post="/todos/reorder"
            hx-trigger="click save"
            hx-target="main"
            hx-swap="innerHTML">


    <ul id="todo-list" class="list">
        {% for todo in todos %}
            <li style="list-style: none">
            <span class="handle">
                <img src="/img/drag-handle-svgrepo-com.svg" width ="20">
            </span> -
                {{ todo.text }}
                <input type="hidden" name="ids" value="{{ todo.id }}">
            </li>
        {% endfor %}

    </ul>

    <div id="save">Save</div>
    </form>

    <script>
        new Sortable(document.getElementById('todo-list'), {
            handle: '.handle', // handle's class
            animation: 150
    });
    </script>

